<html>
    <head>
        <title>Mark Dawsons Website</title>
    </head>
    <body>
        <div>
            <h1><a href="">Marks poem</a></h1>
        </div>

        <div>
            <p>published: 25.05.2015, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>I like chicken, I like cheese.</p>
        </div>

        <div>
            <p>published: 25.05.2015, 12:15</p>
            <h2><a href="">My second post</a></h2>
            <p>I like chicken and cheese pastys.</p>
        </div>
    </body>
</html>